.video-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.episode-title {
    font-size: x-large;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 0.75rem;
}