.container {
    background-color: #333;
    line-height: 4rem;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container a {
    color: aqua;
    text-decoration: none;
}