@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Water+Brush&display=swap');

.home-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}