.episode-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 5px;
}


.episode-item {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 1rem;
    color: black;
    line-height: 3rem;
    border: 5px solid black;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 24%, rgba(171,171,199,1) 69%, rgba(0,212,255,1) 100%);
}