nav {
    background-color: #333;
    width: 100vw;
}

.links {
    display: flex;
    line-height: 4rem;
    justify-content: space-around;
    
}

.link {
    color: #fff;
    text-decoration: none;
    
}

li::marker {
    text-decoration: none;
}